<!DOCTYPE html>
<html lang="en">
  <head>

  <body>
    <h1>Hello Miss Louise</h1>
    <p>My name is Mark ;)</p>
	<p>&copy; <%= Date.today.year %> <a href="http://www.iitcsglobal.com">IITCSGlobal.com</a>.</p>
  </body>
</html>
